body {
	min-width:100%;
	max-width:100%;	
	margin-left: auto; 
	margin-right: auto; 
	margin-bottom:30px;	
	text-align: left;
	background-color:white;
	color:#333333;
	min-width:720px;
	max-width:950px;
	margin-left: auto; 
	margin-right: auto;
	padding: 5px 30px 12px 30px;
	font-size:15px;
	line-height:160%;
	font-family: georgia; serif;	
}

H1, H2, H3, H4 {
	font-family: Optima; Helvetica; Arial;
	font-weight: lighter;
	margin-left:5px;
	margin-top:25px;
	line-height:130%;	
}

H1 {
	font-size:38px;
}

H2 {
	font-size:23px;
}

H3 {
	font-size:18px;
}

H4 {
	font-size:15px;
}

P { 
	padding:0px; 
	margin:15px 15px 15px 15px;
}

a { 
	color: #9A1A4D; 
	text-decoration:none; 
}
a img { 
	border:0; 
}
a:hover { 
	text-decoration:underline; 
}

hr {
	border: 0;
}

.id {
	font-weight:bold;
}

.cmbx-10x-x-109 {
	font-weight:bold;
}

.cmmi-10x-x-109 {
	font-style:italic;
}

.author {
	padding:0px; 
	margin:15px 15px 15px 15px;
}

.date {
	text-align:center;
	font-family: Optima; Helvetica; Arial;
	font-weight: lighter;
	font-size:18px;	
}

.figure {
	font-size:14px;
	line-height:18px; 	
	padding: 0px 30px 30px 30px; 
	position:relative; 
	width:95%;
	border: 0;
}

.endfigure {
	border: 0;
}

img.fig {
	float:right; 
	padding:18px 10px 10px 18px;
}

.table { 
	font-size:14px;
	line-height:18px; 
	float:right; 
	padding:10px 30px 15px 30px; 
}

td {
	/*min-width:100px;*/
	padding:2px 15px 2px 15px;
}

.thebibliography {
	font-size:14px;
	line-height:18px; 	
}